#LinkList101{display:none;background-color:#ffffff;margin:0 30px;position:relative;-webkit-border-radius:3px;border-radius:3px;padding:0 20px}
.menu-1 #LinkList101{height:70px}
.menu-2 #LinkList101{height:60px}
#LinkList101>ul>li:not(.MegaUL){position:relative}
#LinkList101>ul>li{display:inline-block;vertical-align:top}
.menu-1 #LinkList101>ul>li{margin:0 3px}
.menu-1 #LinkList101>ul>li>a:hover{color:#ffffff;background-color:#34d058}
.menu-1 #LinkList101>ul>li>a:focus{background-color:#FFF;color:#34d058}
.ltr.menu-1 .Home{line-height:50px}
.rtl.menu-1 .Home{float:right;margin-left:20px}
.ltr.menu-1 .Home{float:left;margin-right:20px}
.menu-1 .Home:hover{-webkit-box-shadow:0 0 0 0 #ffffff inset;box-shadow:0 0 0 0 #ffffff inset;border:5px solid #0e0e0e;color:#ffffff}
.menu-1 #LinkList101 ul>li>a:focus{background-color:#FFF;color:#34d058}
.menu-2 #LinkList101{background-color:#ffffff;margin:0 13px;height:60px;position:relative;-webkit-border-radius:3px;border-radius:3px;padding:0 20px}
.menu-2 .Home:hover{color:#ffffff}
.menu-2 .Home:hover i{;-webkit-transform:scale(1.2);;-ms-transform:scale(1.2);;transform:scale(1.2)}
.menu-2 #LinkList101>ul.resp-it>li>a{padding:10px 20px}
.menu-2 #LinkList101>ul>li>a:hover{color:#34d058}
.m-line{height:3px;position:absolute;height:100%;bottom:0}
.rtl .m-line{right:0}
.ltr .m-line{left:0}
.rtl.menu-2 .Home{float:right;margin-left:5px}
.ltr.menu-2 .Home{float:left;margin-right:5px}
.res-butt2{width:45px;height:45px;-webkit-border-radius:3px;border-radius:3px;background-color:#ffffff;position:absolute;z-index:2;padding:10px 8px;cursor:pointer;display:none}
.menu-1 .res-butt2{top:13px}
.menu-2 .res-butt2{top:9px}
.rtl .res-butt2{right:95px}
.ltr .res-butt2{left:95px}
.res-butt2 span{display:block;background-color:#0e0e0e;width:100%;margin:0 auto;height:5px;margin-bottom:5px;-webkit-border-radius:100px;border-radius:100px}
.res-butt2.but-active{background-color:#34d058}
.res-butt2.but-active span{background-color:#fff}
.menu-1 .ma.subed ul{-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);box-shadow:0 0 10px rgba(0,0,0,0.1);position:absolute;top:115px;right:-webkit-calc(50% - 90px);right:calc(50% - 90px);opacity:0;padding:20px;-webkit-border-radius:5px;border-radius:5px;width:180px;background-color:#ffffff;text-align:center;z-index:-1}
.menu-1 .ma.subed:hover ul{opacity:1;z-index:16;top:90px}
.menu-2 ul:not(.resp-it) .ma.subed ul{position:absolute;top:60px;width:180px;text-align:center;z-index:-1;max-height:0;-webkit-transform:scaleY(0);-ms-transform:scaleY(0);transform:scaleY(0)}
.menu-2 ul:not(.resp-it) .ma.subed:hover ul{z-index:16;-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1)}
.menu-2 .ma.subed ul li a:hover{color:#34d058;border-bottom:1px solid #34d058}
.ma.subed ul li{display:block}
.menu-1 .ma.subed ul li a:hover{border-bottom:1px dashed #34d058;color:#34d058!important}
.menu-1 .ma.subed ul:before{content:"";position:absolute;top:-15px;left:75px;border-right:15px solid transparent;border-left:15px solid transparent;border-bottom:15px solid #ffffff}
.resp-it .ma.subed ul{position:relative;top:0!important;right:0;opacity:1;-webkit-border-radius:0;border-radius:0;width:100%;background-color:#ffffff;overflow:hidden;padding:0}
.resp-it .ma.subed ul:before{display:none}
.menu-1 .ma.subed>a,.menu-1 .ma.MegaUL>a{border-bottom:1px solid #34d058}
.menu-1 #LinkList101>ul:not(.menu-active) .ma.subed:hover{padding-bottom:50px}
/* ====== Mega Menu ======= */
#LinkList101 .MegaUL{position:initial}
.mega{-webkit-box-shadow:0 7px 15px -2px rgba(0,0,0,0.5);box-shadow:0 7px 15px -2px rgba(0,0,0,0.5);position:absolute;width:100%;padding:10px 0;z-index:-1}
.menu-2 .mega{border-top: 2px solid #eee;left:0;top:60px;max-height:0;background-color:#ffffff;max-height:0;z-index:-1;overflow:hidden}
.menu-2 .show-mega{z-index:10;max-height:260px;height:260px;overflow:hidden}
.menu-1 .mega{min-height:220px;top:90px;left:0;border-radius:1px;background-color:#ffffff;z-index:10;display:none}
.rtl .mega a{float:right;border-left:1px solid rgba(255,255,255,.1)}
.ltr .mega a{float:left;border-right:1px solid rgba(255,255,255,.1)}
body .container .mega a:last-of-type{border:0}
.mega-thumb{display:block;height:140px;margin:0 auto;background-size:cover!important;border-radius:3px;border:5px solid #ffffff}
.mega a:hover h3{color:#34d058}
.mega-thumb:hover{-webkit-transform:scale(1.05) translateY(-5px);-ms-transform:scale(1.05) translateY(-5px);transform:scale(1.05) translateY(-5px);-webkit-box-shadow:0 4px 8px -1px rgba(0,0,0,.3);box-shadow:0 4px 8px -1px rgba(0,0,0,.3)}
.rtl .mega-date{float:right;padding:3px 30px 3px 10px}
.ltr .mega-date{float:left;padding:3px 10px 3px 30px}
.rtl .mega-date:before{right:0}
.ltr .mega-date:before{left:0}
.mega a:hover .mega-date{color:#FFF;background: linear-gradient(to bottom right, #34d058, #28a745);}
.rtl .mega a:hover .mega-date{padding: 3px 25px 3px 10px;margin-right:10px}
.ltr .mega a:hover .mega-date{padding: 3px 10px 3px 25px;margin-left:10px}
.mega a:hover .mega-date:before{color:#FFF}
