.status-msg-wrap b{color:#34d058}
.status-msg-wrap a{color:#484848}
.status-msg-wrap a:hover{color:#34d058;text-decoration:inderline}
.wide{width:100%!important;margin-left:0!important;margin-right:0!important}
body .navi-wide #blog-pager{width:100%!important;margin-left:0;margin-right:0}
.navi-wide.pagin-top{margin-top:-10px;margin-bottom:30px}
.related-posts.links.wide-related-links{margin:0!important;border:none!important;padding-left:0!important;padding-right:0!important}
/* ================== Pagination ================== */
#Pagination span:hover,#Pagination span.curr{border-bottom-color:#34d058}
#Pagination a:hover{opacity:1}
.nums{width:60%;margin:0 auto;display:inline-block;vertical-align:top;height:36px;overflow:hidden}
#Pagination .nums .hid-num{display:none}
