.rtl footer .LinkList li a:before{padding-left:10px;}
.ltr footer .LinkList li a:before{padding-right:10px;}
footer .LinkList li a:hover{color:#34d058;border-bottom:1px dotted #34d058}
footer .LinkList li a:hover:before{content:"\f111";color:#34d058}
/* ================== TextList ================== */
aside .TextList li{border-bottom:1px solid #dddddd;color:#0e0e0e;}
footer .TextList li{border-bottom:1px solid #24292e;color:#aaaaaa;}
.rtl .TextList li:before{padding-left:10px;}
.ltr .TextList li:before{padding-right:10px;}
footer .TextList li:before{color:#24292e}
aside .TextList li:before{color:#dddddd}
/* ================== Statatics Widget ================== */
#Stats1_sparkline{display:inline-block;vertical-align:top;margin-bottom:10px;margin:0 10px 10px}
img[height="1"]{display:none}
/* ====================== Social Links (Sidebar) ====================== */
#LinkList102{overflow:hidden}
#LinkList102 a:nth-of-type(-n+2){margin-top:0}
.rtl #LinkList102 a{margin-left:4%}
.ltr #LinkList102 a{margin-right:4%}
.rtl #LinkList102 a:nth-of-type(even){margin-left:0}
.ltr #LinkList102 a:nth-of-type(even){margin-right:0}
#LinkList102 a:hover{background-color:#444!important;color:#ddd}
#LinkList102 a:hover span{color:#999}
/* ================== Weather Widget ================== */
#HTML103 .widget-content{display:none}
#HTML103{margin-bottom:0}
#weather{background: linear-gradient(to bottom right, #34d058, #28a745);padding:20px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 70px 70px 30px rgba(0,0,0,0.1) inset;box-shadow:0 70px 70px 30px rgba(0,0,0,0.1) inset;max-width:250px;margin:0 auto 20px}
.icon-0:before{content:"\efb7"}
.icon-1:before{content:"\efbc"}
.icon-2:before{content:"\efbe"}
.icon-3:before{content:"\efbd"}
.icon-4:before{content:"\efbe"}
.icon-5:before{content:"\efc0"}
.icon-6:before{content:"\efc0"}
.icon-7:before{content:"\efc0"}
.icon-8:before{content:"\efc0"}
.icon-9:before{content:"\efba"}
.icon-10:before{content:"\efc0"}
.icon-11:before{content:"\efba"}
.icon-12:before{content:"\efba"}
.icon-13:before{content:"\efba"}
.icon-14:before{content:"\efba"}
.icon-15:before{content:"\efc0"}
.icon-16:before{content:"\efba"}
.icon-17:before{content:"\efc0"}
.icon-18:before{content:"\efbf"}
.icon-19:before{content:"\efc1"}
.icon-20:before{content:"\efc1"}
.icon-21:before{content:"\efc1"}
.icon-22:before{content:"\efc1"}
.icon-23:before{content:"\efc1"}
.icon-24:before{content:"\efb9"}
.icon-25:before{content:"\efb9"}
.icon-26:before{content:"\efb5"}
.icon-27:before{content:"\efc2"}
.icon-28:before{content:"\efb8"}
.icon-29:before{content:"\efc2"}
.icon-30:before{content:"\efb8"}
.icon-31:before{content:"\efb6"}
.icon-32:before{content:"\efb4"}
.icon-33:before{content:"\efb6"}
.icon-34:before{content:"\efb4"}
.icon-35:before{content:"\efc0"}
.icon-36:before{content:"\efb4"}
.icon-37:before{content:"\efbe"}
.icon-38:before{content:"\efbe"}
.icon-39:before{content:"\efbe"}
.icon-40:before{content:"\efbb"}
.icon-41:before{content:"\efc0"}
.icon-42:before{content:"\efba"}
.icon-43:before{content:"\efc0"}
.icon-44:before{content:"\efc2"}
.icon-45:before{content:"\efbe"}
.icon-46:before{content:"\efbf"}
.icon-47:before{content:"\efbe"}
/* ================== Flicker Widget ================== */
.flickr-photos a{display:inline-block;width:30%;;opacity:.8}
.rtl .flickr-photos a{margin:0 0 10px 5%}
.ltr .flickr-photos a{margin:0 5% 10px 0}
.rtl .flickr-photos a:nth-of-type(3n){margin-left:0}
.ltr .flickr-photos a:nth-of-type(3n){margin-right:0}
.flickr-photos a img{-webkit-border-radius:2px;border-radius:2px}
.flickr-photos a:hover{opacity:1}
aside .goog-te-gadget-simple{border:1px solid #dddddd;text-align:center;margin:0 auto;padding:10px;display:block}
/* ================== Archive Widget ================== */
aside .BlogArchive select{color:#0e0e0e;border:1px solid #dddddd}
footer .BlogArchive select{color:#aaaaaa;border:1px solid #24292e}
#ArchiveList .collapsed ul{display:none}
aside .flat .archivedate a{border-bottom:1px solid #dddddd;color:#0e0e0e;}
footer .flat .archivedate a{border-bottom:1px solid #24292e;color:#aaaaaa;}
.flat .archivedate a:hover{border-bottom:1px solid #34d058;color:#34d058}
aside .flat .archivedate a:hover{border-bottom:1px solid #34d058;color:#34d058}
footer .flat .archivedate a:hover{border-bottom:1px solid #34d058;color:#34d058}
.rtl .flat-count{float:left;}
.ltr .flat-count{float:right;}
.rtl .flat a:before{content:"\f104";padding-left:10px;}
.ltr .flat a:before{content:"\f101";padding-right:10px;}
.rtl .archivedate:hover a:before{padding-right:5px}
.ltr .archivedate:hover a:before{padding-left:5px}
aside .toggle{color:#0e0e0e}
footer .toggle{color:#aaaaaa}
.toggle:hover{color:#34d058}
body .zippy.toggle-open:before{content:"\f103"}
.rtl .zippy:before{content:"\f104"}
.ltr .zippy:before{content:"\f101"}
.rtl .hierarchy .hierarchy{margin-right:10px}
.ltr .hierarchy .hierarchy{margin-left:10px}
.rtl .post-count-link{margin-right:20px;}
.ltr .post-count-link{margin-left:20px;}
aside .post-count-link{color:#0e0e0e;border-bottom:1px solid #dddddd}
footer .post-count-link{color:#aaaaaa;border-bottom:1px solid #24292e}
aside .post-count-link:hover{border-bottom:1px solid #34d058}
.rtl .post-count{float:left;}
.ltr .post-count{float:right;}
aside .post-count{color:#34d058}
footer .post-count{color:#999999}
aside .posts a{color:#34d058;border-bottom:1px solid #dddddd}
footer .posts a{color:#999999;border-bottom:1px solid #24292e}
aside .posts a:hover{border-bottom:1px solid #34d058;color:#34d058}
footer .posts a:hover{border-bottom:1px solid #34d058;color:#34d058}
/* ===================== Featured Post Widget ===================== */
aside .post-summary a:hover{color:#34d058}
aside .post-summary p{color:#34d058}
.post-summary{padding:10px}
aside .post-summary{border:1px solid #dddddd}
footer .post-summary{clear:both;border:1px solid #24292e}
aside .post-summary a{background-color:#dddddd;color:#0e0e0e}
footer .post-summary a{background-color:#24292e;color:#aaaaaa}
footer .post-summary a:hover{color:#34d058}
footer .post-summary p{color:#999999}
aside .FeaturedPost .image{padding:5px;border:1px solid #dddddd}
footer .FeaturedPost .image{padding:5px;border:1px solid #24292e}
/* ==================== Authors Widget ==================== */
.Profile{display:none;}
.Profile .widget-content{padding:10px;position:relative;overflow:hidden;min-height:20px}
aside .Profile .widget-content{border:1px solid #dddddd}
footer .Profile .widget-content{border:1px solid #24292e}
.Profile .widget-content.opend{min-height:302px}
.Profile .widget-content .au-wid-card{padding:10px 0;margin:0 10px;height:70px;cursor:pointer}
aside .Profile .widget-content .au-wid-card{border-top:1px solid #dddddd}
footer .Profile .widget-content .au-wid-card{border-top:1px solid #24292e}
.Profile .widget-content .au-wid-card:first-of-type,.Profile .widget-content .au-wid-card:first-of-type:hover{border:none}
.Profile .widget-content .au-wid-pic{width:50px;height:50px;-webkit-border-radius:100%;border-radius:100%;-webkit-background-size:cover;background-size:cover;}
.rtl .Profile .widget-content .au-wid-pic{float:right;margin-left:10px}
.ltr .Profile .widget-content .au-wid-pic{float:left;margin-right:10px}
aside .Profile .widget-content .au-wid-pic{border:5px solid #ffffff;-webkit-box-shadow:0 0 0 1px #dddddd;box-shadow:0 0 0 1px #dddddd}
footer .Profile .widget-content .au-wid-pic{border:5px solid #24292e;-webkit-box-shadow:0 0 0 1px #24292e;box-shadow:0 0 0 1px #24292e}
aside .Profile .widget-content .au-wid-name{color:#0e0e0e}
footer .Profile .widget-content .au-wid-name{color:#aaaaaa}
aside .Profile .widget-content .au-wid-count{color:#34d058}
footer .Profile .widget-content .au-wid-count{color:#999999}
.Profile .widget-content .au-posts{top:0;right:0;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);width:100%;position:absolute;overflow:hidden;height:300px}
aside .Profile .widget-content .au-posts{background-color:#ffffff}
footer .Profile .widget-content .au-posts{background-color:#24292e}
.au-wid-pos-links{height:190px;overflow-y:scroll}
aside .au-wid-pos-links{border-bottom:1px solid #dddddd}
footer .au-wid-pos-links{border-bottom:1px solid #24292e}
.au-wid-pos-links::-webkit-scrollbar{width:7px;overflow:hidden}
.au-wid-pos-links::-webkit-scrollbar-thumb:hover{background-color:#34d058}
aside .au-wid-pos-links::-webkit-scrollbar-track{background-color:#ffffff}
aside .au-wid-pos-links::-webkit-scrollbar-thumb{background-color:#dddddd;-webkit-border-radius:100px;border-radius:100px}
footer .au-wid-pos-links::-webkit-scrollbar-track{background-color:#24292e}
footer .au-wid-pos-links::-webkit-scrollbar-thumb{background-color:#24292e;-webkit-border-radius:100px;border-radius:100px}
.Profile .widget-content{position:relative;overflow:hidden}
.Profile .widget-content .au-post{overflow:hidden;display:block;padding:5px;height:50px}
.Profile .widget-content .au-post:hover .au-po-img{opacity:1;-webkit-filter:contrast(1.1);filter:contrast(1.1);}
.Profile .widget-content .au-post:hover .au-po-title{color:#34d058}
@-webkit-keyframes soft {50%{opacity:.5}}
@keyframes soft {50%{opacity:.5}}
.Profile .widget-content .au-po-img{opacity:0.9;width:40px;height:40px;-webkit-background-size:cover;background-size:cover;background-position:center center;-webkit-border-radius:2px;border-radius:2px}
.rtl .Profile .widget-content .au-po-img{float:right;margin-left:10px;}
.ltr .Profile .widget-content .au-po-img{float:left;margin-right:10px;}
aside .Profile .widget-content .au-po-title{color:#0e0e0e}
footer .Profile .widget-content .au-po-title{color:#aaaaaa}
.au-po-details{line-height:0.5em}
.Profile .widget-content .au-po-title:before,.Profile .widget-content .au-po-title:after{display:none}
aside .Profile .widget-content .au-po-date{color:#34d058}
footer .Profile .widget-content .au-po-date{color:#999999}
.rtl .Profile .widget-content .au-po-date:before{margin-left:5px}
.ltr .Profile .widget-content .au-po-date:before{margin-right:5px}
.au-wid-pos-card{height:61px;padding:5px}
aside .au-wid-pos-card{border-bottom:1px solid #dddddd}
footer .au-wid-pos-card{border-bottom:1px solid #24292e}
.hide-auths{-webkit-transform:translateX(110%);-ms-transform:translateX(110%);transform:translateX(110%);height:auto}
.Profile .widget-content .show-posts{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.au-wid-back:Hover:before{color:#34d058}
.rtl .au-wid-back:before{margin-left:5px;}
.ltr .au-wid-back:before{margin-right:5px;}
aside .au-wid-back:before{color:#34d058}
footer .au-wid-back:before{color:#999999}
.rtl .au-wid-back:before{content:"\f190";}
.ltr .au-wid-back:before{content:"\f18e";}
.rtl .au-wid-prof{float:right;margin-right:10px}
.ltr .au-wid-prof{float:left;margin-left:10px}
aside .au-wid-prof{color:#34d058;background-color:#dddddd}
footer .au-wid-prof{color:#999999;background-color:#24292e}
.rtl .au-wid-prof:before{margin-left:5px}
.ltr .au-wid-prof:before{margin-right:5px}
.au-wid-back{margin-top:12px}
.rtl .au-wid-back{float:left;}
.ltr .au-wid-back{float:right;}
aside .au-wid-prof:hover{color:#ffffff;background-color:#34d058}
footer .au-wid-prof:hover{color:#24292e;background-color:#34d058}
/* ====== Share Buttons ====== */
.share{width:100%;clear:both;border-top:1px solid #eeeeee;padding:10px 0;border-bottom:1px solid #eeeeee;margin-bottom:20px}
.like{float:right}
.rtl .share h7{float:right;}
.ltr .share h7{float:left;}
.rtl .share a{float:left;margin-right:5px;}
.ltr .share a{float:right;margin-left:5px;}
.share a:hover{background-color:#444!important}
.share .facebook{background-color:#3C56A1}
.share .twitter{background-color:#89c9fa}
.share .google{background-color:#DC493C}
.share .pinterest{background-color:#c72527}
.share .whatsapp{background-color:#65bc54}
.share .print{background-color:#1A7DB9}
.fb-like.fb_iframe_widget{padding:10px 10px 10px 50px;background-color:#f5f5f5;position:relative;-webkit-border-radius:2px;border-radius:2px;vertical-align:top;height:40px;width:114px}
.plus-one{padding:7px 10px 10px 50px;background-color:#f5f5f5;position:relative;-webkit-border-radius:2px;border-radius:2px;vertical-align:top;height:40px;width:114px;text-align:center;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)}
.rtl .plus-one, .rtl .fb-like.fb_iframe_widget{float:left;margin-right:5px;}
.ltr .plus-one, .ltr .fb-like.fb_iframe_widget{float:right;margin-left:5px;}
/* ====== Share Buttons ====== */
.post-body{color:#242526;padding:0 0 20px}
.post-body span{display:inline}
.post-body a:not(.ibtn):hover{color:#34d058!important;text-decoration:underline}
.rtl .article-title{border-right:15px solid #34d058;border-radius: 5px}
.ltr .article-title{border-left:15px solid #34d058;}
.post-body [dir] img{max-height:100%!important;height:auto!important;padding:5px;border:1px solid #eeeeee;display:block;margin:0 auto;}
.post ul{list-style:inherit}
.post ol li{position:relative;margin:0 0 8px 15px!important;padding:6px 30px 8px 7px!important;list-style:none;background:rgba(245,245,245,0.58);text-indent:14px;box-shadow:15px 9px 7px -12px rgba(0,0,0,0.16),0 3px 6px 0 rgba(0,0,0,0.12)}
.post ol li:before{content:counter(li);counter-increment:li;position:absolute;right:5px;width:28px;padding:1.5px;margin:0 0 10px 0;padding 4px!important;color:#fff;background:linear-gradient(to bottom right,#34d058,#34d058)!important;text-indent:6px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1),inset 0 0 10px rgba(0,0,0,.35),inset 0 0 0 1px rgba(0,0,0,.1);-moz-box-shadow:0 1px 1px rgba(0,0,0,.0.1),inset 0 0 10px rgba(0,0,0,.35),inset 0 0 0 1px rgba(0,0,0,.1);box-shadow:0 1px 1px rgba(0,0,0,0.07),inset 0 0 10px rgba(0,0,0,0.08),inset 0 0 0 1px rgba(0,0,0,0.19);border-radius:15px}
.post ol li:after{content:'';border:10px solid transparent;border-left-color:#34d058;float:left;margin-top:3px}
.post ol li:hover:after{margin-left:5px;border-left-color:#28a745;transition:all 0.3s ease-out}
/*================ PostStyle Title ================== */
.rtl .post-body ul li{margin-right:40px;list-style:circle;padding-right:10px}
.ltr .post-body ul li{margin-left:40px;list-style:circle;padding-left:10px}
.post-body ul li:hover{list-style:disc}
pre:hover::after { opacity: 0; top: -8px; visibility: visible; }
pre{-webkit-user-select: text; -khtml-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; padding: 0; margin: .5em auto; white-space: pre; word-wrap: break-word; overflow: auto; background-color: #2c323c; position: relative; padding-top: 10px; width: 100%; max-height: 300px; -moz-tab-size: 2; -o-tab-size: 2; tab-size: 2; word-break: normal; -webkit-user-select: text; -khtml-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; text-align: left; direction: ltr;border: 1px solid #E2E0E0;}
pre::-webkit-scrollbar,pre::-moz-scrollbar,pre code::-webkit-scrollbar,pre code::-moz-scrollbar,code::-webkit-scrollbar,code::-moz-scrollbar {display:none;}
pre code{display: block; background: none; border: none; color: #eee; padding: 0 20px 10px 10px; white-space: pre; overflow: auto;}
code .token.entity {cursor:help;}
pre mark,code mark,pre code mark {background-color:#3498db!important;color:#fff!important;padding:2px;margin:0 2px;border-radius:2px;}
pre[data-codetype=&quot;CSSku&quot;]:before,pre[data-codetype=&quot;HTMLku&quot;]:before,
pre[data-codetype=&quot;JavaScriptku&quot;]:before,pre[data-codetype=&quot;JQueryku&quot;]:before{background-color:#fff;box-shadow:inset 0 0 0 1px #eee;}
.post blockquote,.post pre,.post code{
-webkit-touch-callout:text;
-webkit-user-select:text;
-khtml-user-select:text;
-ms-user-select:text;
-moz-user-select:text;}
.static_page .post-details{display:none}
.static_page .article-title{text-align:center;margin-bottom:20px;}
/* ====== Post Details ====== */
.post-details{clear:both;width:100%;border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;padding:5px 0;margin:10px 0}
.rtl .post-labels,.rtl .post-author,.rtl .post-timestamp{display:inline-block;vertical-align:top;margin-left:10px}
.ltr .post-labels,.ltr .post-author,.ltr .post-timestamp{display:inline-block;vertical-align:top;margin-right:10px}
.g-profile:hover,.published:hover,.post-labels a:hover{color:#34d058}
.fn{display:inline-block;vertical-align:middle}
/* ====== Posts ADS ====== */
.inline-ad{text-align:center;margin-bottom:20px}
#HTML202{margin-right:20px;margin-bottom:20px;text-align:center}
#HTML109{text-align:center}
#HTML201,#HTML203{text-align:center}
#HTML201{margin-bottom:20px}
#HTML203{margin-top:20px}
.post-body #HTML201,.post-body #HTML203{display:block}
.post-body #HTML202{float:left;display:inline}
/* ====== Long Posts ====== */
.l-block{opacity:0;height:0;overflow:hidden}
.b-active{opacity:1;height:auto}
.post-pagin{text-align:center;padding-top:20px;border-top:1px solid #eeeeee;margin-top:10px}
