.post-outer{position:relative;padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #eeeeee}
.post-outer:last-of-type{padding-bottom:0;border-bottom:0}
.RecentThumb{width:300px;height:200px;overflow:hidden;position:relative}
.rtl .RecentThumb{float:right;margin-left:30px}
.ltr .RecentThumb{float:left;margin-right:30px}
.RecentThumb span{width:100%;-webkit-border-radius:3px;border-radius:3px;height:100%;-webkit-background-size:cover;background-size:cover;display:block;background-position:center center}
.RecentThumb:hover span{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);opacity:.9}
.post-title a{color:#484848}
.post-title a:hover{color:#34d058}
.boxs:before,.boxs:after{content:"";position:absolute;top:5%;left:5%;z-index:1;-webkit-transition:.3s ease-out;-o-transition:.3s ease-out;transition:.3s ease-out}
.boxs:before{border-right:1px solid rgba(0, 0, 0, 0);border-left:1px solid rgba(0, 0, 0, 0);width:90%;height:0}
.boxs:after{border-top:1px solid rgba(0, 0, 0, 0);border-bottom:1px solid rgba(0, 0, 0, 0);width:0;height:90%}
.RecentThumb:hover .boxs:before,.RecentThumb:hover .boxs:after{width:90%;height:90%}
.Thumb:hover .boxs:before,.Thumb:hover .boxs:after{width:90%;height:90%}
.index-time {VISIBILITY: hidden;}
.noImage{display:none}
.rtl .index-author{margin-left:20px}
.ltr .index-author{margin-right:20px}
.opac{opacity:.3}
.g-profile{display:inline-block}
.rtl .index-time:before,.rtl .index-author:before{margin-left:5px}
.ltr .index-time:before,.ltr .index-author:before{margin-right:5px}
.index-author:before{content:"\f007"}
.index-time:before{content:"\f017"}
.blog-posts .details{border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;padding:5px 0;width:-webkit-calc(100% - 330px);width:calc(100% - 330px);margin-bottom:10px}
.rtl .post-title{float:right}
.ltr .post-title{float:left}
.rtl .blog-posts .ReadMore{margin-left:10px;float:right}
.ltr .blog-posts .ReadMore{margin-right:10px;float:left}
.rtl .blog-posts .ReadMore:hover{-webkit-box-shadow:0 0 10px 30px rgba(255,255,255,0.1) inset;box-shadow:0 0 10px 30px rgba(255,255,255,0.1) inset;padding:8px 15px 8px 50px}
.ltr .blog-posts .ReadMore:hover{-webkit-box-shadow:0 0 10px 30px rgba(255,255,255,0.1) inset;box-shadow:0 0 10px 30px rgba(255,255,255,0.1) inset;padding:8px 50px 8px 15px}
.rtl .blog-posts .ReadMore:before{content:"\f060";left:20px}
.ltr .blog-posts .ReadMore:before{content:"\f061";right:20px}
.blog-posts .ReadMore:hover:before{opacity:1}
.blog-posts .ReadMore:after{content:"";width:60px;height:60px;background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,0.1)));background:-webkit-linear-gradient(transparent,rgba(0,0,0,0.1));background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,0.1)));background:-webkit-linear-gradient(transparent,rgba(0,0,0,0.1));background:-webkit-gradient(linear,left top, left bottom,from(transparent),to(rgba(0,0,0,0.1)));background:-o-linear-gradient(transparent,rgba(0,0,0,0.1));background:linear-gradient(transparent,rgba(0,0,0,0.1));position:absolute;top:-5px}
.rtl .blog-posts .ReadMore:after{right:100%;-webkit-transform:rotate(-10deg);-ms-transform:rotate(-10deg);transform:rotate(-10deg)}
.ltr .blog-posts .ReadMore:after{left:100%;-webkit-transform:rotate(10deg);-ms-transform:rotate(10deg);transform:rotate(10deg)}
.rtl .blog-posts .ReadMore:hover:after{right:68%}
.ltr .blog-posts .ReadMore:hover:after{left:68%}
.rtl .ShareIndex{float:right}
.ltr .ShareIndex{float:left}
.ShareIndex:hover{-webkit-box-shadow:0 0 10px 30px rgba(255,255,255,0.1) inset;box-shadow:0 0 10px 30px rgba(255,255,255,0.1) inset;background: linear-gradient(to bottom right, #34d058, #28a745);color:#fff;}
.ShareIndexBut{height:36px;background-color:#eeeeee;margin-top:10px;padding:7px 10px;-webkit-border-radius:2px;border-radius:2px;position:relative;display:none}
.rtl .ShareIndexBut{float:right;margin-right:20px}
.ltr .ShareIndexBut{float:left;margin-left:20px}
.rtl .ShareIndexBut a{float:right;margin-right:5px}
.ltr .ShareIndexBut a{float:left;margin-left:5px}
.rtl .ShareIndexBut a:first-of-type{margin-right:0}
.ltr .ShareIndexBut a:first-of-type{margin-left:0}
.ShareIndexBut:before{content:"";border-top:8px solid transparent;border-bottom:8px solid transparent;position:absolute;top:10px}
.rtl .ShareIndexBut:before{border-left:10px solid #eeeeee;right:-10px}
.ltr .ShareIndexBut:before{border-right:10px solid #eeeeee;left:-10px}
.fb{background-color:#3b5998}
.tw{background-color:#55acee}
.pin{background-color:#cc2127}
.go{background-color:#DC493C}
.index-body{overflow:hidden}
.rtl .index-body .details{float:right}
.ltr .index-body .details{float:left}
.rtl .rct .post-outer{border:0;float:right;margin-left:20px}
.ltr .rct .post-outer{border:0;float:left;margin-right:20px}
.rct-cards .RecentSnippet{overflow:hidden;height:65px}
.rct-cards .RecentThumb{float:none;width:100%;display:block;height:260px}
.rct-cards .post-title{width:100%;display:block;float:none;margin:5px 0;background-color:#eeeeee;color:#484848;height:60px;overflow:hidden}
.rtl .rct-cards .post-title{padding:6px 20px 10px 10px;border-right:5px solid #34d058}
.ltr .rct-cards .post-title{padding:6px 10px 10px 20px;border-left:5px solid #34d058}
.rct-cards .post-title a{max-height:48px;overflow:hidden;display:block}
.rct-cards .details{float:none;width:100%;margin-top:10px}
.rct-cards .ShareIndex{display:none}
.rct-cards .RecentThumb:after{position:absolute;content:'';width:100%;height:100%;top:0;right:0;background-color:#fff;opacity:0;-webkit-transition:.3s ease;-o-transition:.3s ease;transition:.3s ease}
.rct-cards:hover .RecentThumb:after{opacity:.7}
.rct-cards .RecentThumb:hover span{-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);-webkit-filter:blur(1px)}
.rct-cards .ReadMore{margin-left:0;float:left}
.rct-cards .ShareIndexBut{display:block;position:absolute;top:120px;margin:0;opacity:0;background-color:transparent;padding:0;-webkit-transition:.3s ease-out;-o-transition:.3s ease-out;transition:.3s ease-out;z-index:-1;right:-webkit-calc(50% - 67.5px);right:calc(50% - 67.5px)}
.rct-cards .ShareIndexBut a{width:30px;height:30px;padding-top:7px}
.rct-cards .ShareIndexBut:before{display:none}
.rct-cards:hover .ShareIndexBut{opacity:1;z-index:3}
