#HeaderTop h2,#HeaderBot h2,#HTML100 h2{display:none}
.head-color{background-color:#24292e}
#HeaderTop{width:100%;padding:0 30px;height:51px}
.res-butt1{width:30px;height:30px;-webkit-border-radius:3px;border-radius:3px;padding:8px 5px 0;background: linear-gradient(to bottom right, #34d058, #28a745);cursor:pointer;display:none}
.rtl .res-butt1{float:right}
.ltr .res-butt1{float:left;}
.res-butt1 span{display:block;height:3px;margin-bottom:3px;-webkit-border-radius:100px;border-radius:100px;background-color:#797979}
.menu-active{display:block!important}
#PageList1{padding:10px 0;max-width:60%;vertical-align:top;position:relative}
.rtl #PageList1{float:right}
.ltr #PageList1{float:left}
.res-butt1.but-active{background-color:#34d058}
.res-butt1.but-active span{background-color:#FFF}
#PageList1 li{display:inline-block;vertical-align:top}
#PageList1 li a{color:#797979;font-family:BlogFont,AltFont;font-size:13px;display:block;margin:2px 2px 0;padding:5px 10px;-webkit-border-radius:100px;border-radius:7px;position:relative}
li.selected a{background: linear-gradient(to bottom right, #34d058, #28a745);color:#ffffff}
#PageList1 li.selected a, #PageList1 li a:hover{background: linear-gradient(to bottom right, #34d058, #28a745);color:#ffffff}
#PageList1 li a:after{content:"|";position:absolute;display:inline-block;color:#777777!important}
.rtl #PageList1 li a:after{left:-30px;margin-left:20px;}
.ltr #PageList1 li a:after{right:-30px;margin-right:20px;}
#PageList1 li:last-of-type a:after{display:none}
#LinkList100{width:40%;position:relative;z-index:9;vertical-align:top;height:50px;padding:10px 0}
.rtl #LinkList100{text-align:left;float:left;}
.ltr #LinkList100{text-align:right;float:right;}
#LinkList100 ul{float:left;width:-webkit-calc(100% - 60px);width:calc(100% - 60px)}
.t-search.fa{background: linear-gradient(to bottom right, #34d058, #28a745);width:50px;height:51px;text-align:center;margin-top:-10px;color:#FFF;font-size:24px;padding-top:10px}
.rtl #SRCH{float:left;margin-right:10px}
.ltr #SRCH{float:right;margin-left:10px}
.search-form{position:absolute;top:8px;width:100%;height:1px;}
.rtl .search-form{left:61px}
.ltr .search-form{right:61px}
.search-form input{background-color:#ffffff;position:relative;z-index:2;font-family:blogfont,AltFont;padding:7px 0;border-bottom:2px solid #34d058;width:0;color:#797979;width:0;-webkit-transition:0.3s linear;-o-transition:0.3s linear;transition:0.3s linear;}
input.search-open{padding:7px 10px;width:-webkit-calc(100% - 60px);width:calc(100% - 60px)}
.hide-social{margin-top:-40px;opacity:0}
.search-wide{width:180px;float:left}
#LinkList100 li{display:inline-block;vertical-align:top}
#LinkList100 li a{margin-bottom:10px;color:#eeeeee;background: linear-gradient(to bottom right, #34d058, #28a745);width:30px;text-align:center;height:30px;padding-top:7px;-webkit-border-radius:2px;border-radius:2px;position:relative}
#LinkList100 li a span{background-color:#24292e;color:#ffffff;padding:10px;-webkit-border-radius:2px;border-radius:2px;position:absolute;font-size:11px;top:40px;right:-webkit-calc(50% - 35px);right:calc(50% - 35px);width:70px;opacity:0;visibility:hidden;text-transform:capitalize;font-family:AltFont}
#LinkList100 li a span:before{content:"";border-right:5px solid transparent;border-left:5px solid transparent;border-bottom:7px solid #24292e;position:absolute;top:-7px;left:-webkit-calc(50% - 4px);left:calc(50% - 4px);display:block;z-index:5}
#LinkList100 li a:hover span{opacity:.95;top:50px;visibility:visible}
#LinkList100 li a:hover{color:#FFF}
#LinkList100 ul:hover li{opacity:.7}
#LinkList100 ul li:hover{opacity:1}
.fa.fa-facebook:hover,      #LinkList102 .fa-facebook    {background-color:#3b5998!important}
.fa.fa-twitter:hover,       #LinkList102 .fa-twitter     {background-color:#55acee!important}
.fa.fa-rss:hover,           #LinkList102 .fa-rss         {background-color:#f26522!important}
.fa.fa-dribbble:hover,      #LinkList102 .fa-dribbble    {background-color:#ea4c89!important}
.fa.fa-google-plus:hover,   #LinkList102 .fa-google-plus {background-color:#dd4b39!important}
.fa.fa-google:hover,        #LinkList102 .fa-google      {background-color:#dd4b39!important}
.fa.fa-pinterest:hover,     #LinkList102 .fa-pinterest   {background-color:#cc2127!important}
.fa.fa-linkedin:hover,      #LinkList102 .fa-linkedin    {background-color:#0976b4!important}
.fa.fa-youtube:hover,       #LinkList102 .fa-youtube     {background-color:#e52d27!important}
.fa.fa-wordpress:hover,     #LinkList102 .fa-wordpress   {background-color:#1081B1!important}
.fa.fa-digg:hover,          #LinkList102 .fa-digg        {background-color:#476BA3!important}
.fa.fa-drupal:hover,        #LinkList102 .fa-drupal      {background-color:#008BCA!important}
.fa.fa-github:hover,        #LinkList102 .fa-github      {background-color:#000000!important}
.fa.fa-flickr:hover,        #LinkList102 .fa-flickr      {background-color:#FF0084!important}
.fa.fa-tumblr:hover,        #LinkList102 .fa-tumblr      {background-color:#304E6C!important}
.fa.fa-instagram:hover,     #LinkList102 .fa-instagram   {background-color:#723ef3!important}
.fa.fa-android:hover,       #LinkList102 .fa-android     {background-color:#8BC34A!important}
.fa.fa-delicious:hover,     #LinkList102 .fa-delicious   {background-color:#DEDEDF!important}
.fa.fa-bitcoin:hover,       #LinkList102 .fa-bitcoin     {background-color:#f7931a!important}
.fa.fa-behance:hover,       #LinkList102 .fa-behance     {background-color:#009fff!important}
.fa.fa-soundcloud:hover,    #LinkList102 .fa-soundcloud  {background-color:#FF5419!important}
.fa.fa-khamsat:hover,       #LinkList102 .fa-khamsat     {background-color:#f9b01c!important}
.fa.fa-traidnt:hover,       #LinkList102 .fa-traidnt     {background-color:#59c5c4!important}
.fa.fa-asnad:hover,         #LinkList102 .fa-asnad       {background-color:#d4145a!important}
.fa.fa-hao123:hover,        #LinkList102 .fa-hao123      {background-color:#0ba26d!important}
.fa.fa-picalica:hover,      #LinkList102 .fa-picalica    {background-color:#615d9b!important}
.fa.fa-blogger:hover,       #LinkList102 .fa-blogger     {background-color:#fc9644!important}
.fa.fa-telegram:hover,      #LinkList102 .fa-telegram    {background-color:#32AEE1!important}
.fa.fa-mostaql:hover,       #LinkList102 .fa-mostaql     {background-color:#2caae2!important}
.fa.fa-digg:hover,          #LinkList102 .fa-digg        {background-color:#476BA3!important}
.fa.fa-quora:hover,         #LinkList102 .fa-quora       {background-color:#a82400!important}
.fa.fa-spotify:hover,       #LinkList102 .fa-spotify     {background-color:#1ed760!important}
.fa.fa-reddit:hover,        #LinkList102 .fa-reddit      {background-color:#ff4500!important}
.fa.fa-snapchat:hover,      #LinkList102 .fa-snapchat    {background-color:#f5d602!important}
.fa.fa-google-play:hover,   #LinkList102 .fa-google-play {background-color:#3d9dab!important}
.fa-google-play:before{content:'\f04b'}
.fa.fa-khamsat,.fa.fa-traidnt,.fa.fa-asnad,.fa.fa-hao123,.fa.fa-picalica,.fa.fa-blogger,.fa.fa-mostaql{font-family:FontAwesome;font-size:21px;padding-top:5px!important}
.fa.fa-hao123{padding-left:3px}
.fa.fa-mostaql,.fa.fa-khamsat,.fa.fa-picalica{padding-left:4px}
.fa.fa-blogger{padding-left:7px}
#LinkList102 .widget-content{font-size:0}
#LinkList100 ul li:nth-of-type(1){-webkit-transition:.5s ease}
#LinkList100 ul li:nth-of-type(2){-webkit-transition:.55s ease}
#LinkList100 ul li:nth-of-type(3){-webkit-transition:.7s ease}
#LinkList100 ul li:nth-of-type(4){-webkit-transition:.75s ease}
#LinkList100 ul li:nth-of-type(5){-webkit-transition:.8s ease}
#LinkList100 ul li:nth-of-type(6){-webkit-transition:.85s ease}
#LinkList100 ul li:nth-of-type(7){-webkit-transition:.9s ease}
#LinkList100 ul li:nth-of-type(8){-webkit-transition:.95s ease}
#LinkList100 ul li:nth-of-type(9){-webkit-transition:1s ease}
#LinkList100 ul li:nth-of-type(10){-webkit-transition:1.05s ease}
#LinkList100 ul li:nth-of-type(11){-webkit-transition:1.06s ease}
