@media screen and (max-width :900px) {
.popular-posts.tinyop li{height:110px}
#f-row{height:auto}
#f-row .subscription{float:none;width:100%;margin-top:0}
}
@media screen and (min-width :641px) and (max-width :860px) {
#HTML140{display:block;text-align:center}
#HTML140 p{display:block;width:-webkit-calc(100% - 340px);width:calc(100% - 340px)}
.rtl #FollowByEmail1{float:left;margin-top:-80px}
.ltr #FollowByEmail1{float:right;margin-top:-80px}
.rtl #ContactForm1{right:-webkit-calc(50% - 100px);right:calc(50% - 100px)}
.ltr #ContactForm1{left:-webkit-calc(50% - 100px);left:calc(50% - 100px)}
}
@media screen and (max-width :768px) {
.author-profile img{margin:0 auto;-webkit-border-radius:2px;border-radius:2px;width:100px;padding:5px}
.rtl .author-profile img{float:right}
.ltr .author-profile img{float:left}
body .container .author-profile{text-align:center;float:none;width:100%;min-height:auto;padding:20px}
body .container .related-posts,body .container .related-h3,body .container #blog-pager{float:none;width:100%;clear:both;margin:0 0 20px}
}
@media screen and (max-width :640px) {
#Int-one{display:none}
.Sided-Section .section{display:block;width:100%;margin-left:0}
.rtl .Sided-Section .section{margin-left:0}
.ltr .Sided-Section .section{margin-right:0}
.list .Post,.cov,.vcover .Post:nth-of-type(n+2){width:100%;padding:0!important;margin:0 0 20px!important;border:none!important}
.cover .Post:first-of-type .Title,.cover .Post:first-of-type .details{width:100%;height:auto;clear:both;float:none;display:block}
.cover .Post:first-of-type .Thumb{width:100%;display:block;float:none;clear:both;margin-bottom:10px}
.vcover .Post:first-of-type{width:100%;border-left:none;padding:0 0 20px;height:auto!important;margin-bottom:20px}
.broadcast .current{float:none;width:100%;height:auto}
.broadcast .Post:nth-of-type(n+2){width:100%}
.broadcast .current .Thumb{height:200px}
.cards .Post{width:100%;clear:both;float:none;margin:0 0 20px}
.cards .Post .Title{height:auto}
.RecentThumb{float:none;clear:both;margin-left:0;margin-bottom:20px;display:block;width:100%}
.index-body .post-title{width:100%;display:block;float:none;clear:both;height:auto}
.index-body .details{width:100%;clear:both;float:none}
.rtl #HTML140 p{margin:10px 10px 20px}
.ltr #HTML140 p{margin:10px auto 20px 10px}
#FollowByEmail1{display:block;width:auto;padding:0 30px}
.f-cols .section{width:-webkit-calc((100% - 20px) /2);width:calc((100% - 20px) /2);margin:0 20px 0 0}
.ltr #Col-1,.ltr #Col-3{margin-right:19px;margin-left:0}
.rtl #Col-1,.rtl #Col-3{margin-right:0;margin-left:19px}
#Col-2,#Col-4{margin-right:0;margin-left:0}
.item-thumbnail{width:72px;height:72px;position:relative;margin-bottom:0}
.rtl .item-thumbnail{float:right;margin-left:20px}
.ltr .item-thumbnail{float:left;margin-right:20px}
.item-title a{display:block;font-size:14px}
}
@media screen and (max-width :480px) {
.LabLink{display:none}
.sided .Post:first-of-type .Snippet{height:auto}
.blog-pager-older-link,.blog-pager-newer-link{width:100%}
#HTML140 p{display:block;width:100%;margin:20px 0}
#FollowByEmail1{padding:0}
.f-cols .section{width:100%;float:none;margin:0;height:auto}
}
@media screen and (max-width :240px) {
.Intro-Label,.Title,.details{width:100%!important;display:block;float:none!important;clear:both}
#FollowByEmail1 i{font-size:37px;width:70px;height:70px}
#f-row .email,#f-row .subscribe{display:block;width:100%;margin:0 0 10px}
.broadcast .Post:nth-of-type(n+2){height:auto}
.broadcast .Post:nth-of-type(n+2) .Thumb{border:0;height:100px;padding:0;margin:0 auto;display:block;width:100%;margin-bottom:10px}
.Thumb{margin-bottom:20px;height:150px;padding:10px;border:1px solid #EEE;float:none;display:block;width:100%}
}
